# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.db
lib/

node_modules/
vendor/

*libquery.h

libquery*
!swig/libquery.i

/.idea/.gitignore
/.idea/modules.xml
/.idea/play-with-go-c-shared.iml
/.idea/vcs.xml

# ---- [start] Generated binding files ----

# Python binding
query.py

# PHP binding
php_query.h
query.php

# ---- [end] Generated binding files ----

/example/js/build
/example/ruby/.sitearchdir.time
/example/ruby/Makefile
